<header class="header-style-1 header-style-3">

<div class="top-bar animate-dropdown">
  <div class="container">
    <div class="header-top-inner">
      <div class="cnt-account">
        <p><b>Llámenos:</b> 011 252 2112 <b>Email:</b> info@camion365.com</p>

      </div><!-- /.cnt-account -->

      <div class="cnt-block">
        <ul class="list-unstyled list-inline">
          <li class="dropdown dropdown-small"><a href="/mi-cuenta" class="dropdown-toggle">Mi Cuenta</a></li>
          <li class="dropdown dropdown-small"><a href="/mi-cuenta" class="dropdown-toggle">Publicar Anuncio</a></li>
          <li class="dropdown dropdown-small"><a href="/tarifas" class="dropdown-toggle">Tarifas</a></li>

        </ul><!-- /.list-unstyled -->
      </div><!-- /.cnt-cart -->
      <div class="clearfix"></div>
    </div><!-- /.header-top-inner -->
  </div><!-- /.container -->
</div><!-- /.header-top -->

<div class="header-nav animate-dropdown main-header">
  <div class="container">

    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="yamm navbar navbar-default" role="navigation">

        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw">
                  <a href="/" data-hover="dropdown" class="dropdown-toggle" data-toggle="dropdown">Home</a></li>

                <li class="dropdown">
                  <a href="/tarifas">Vende tu camión</a></li>

                <li class="dropdown">
                  <a href="/mi-cuenta">Mis Anuncios</a></li>

              </ul><!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div><!-- /.nav-outer -->
          </div><!-- /.navbar-collapse -->
        </div><!-- /.nav-bg-class -->
      </div><!-- /.navbar-default -->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder" style="float:right">
      <div class="search-area">
        <form action="/busqueda"><div class="control-group"><a class="search-button" href="#" ></a>
          <input class="search-field" name="consulta" placeholder="Buscar camiones, repuestos o servicios..." />
        </div>
        </form>
      </div><!-- /.search-area -->
    </div>

  </div><!-- /.container-class -->

</div><!-- /.header-nav -->
<!-- ============================================== TOP MENU : END ============================================== -->

<div class="main-header bgtoph">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 logo-holder">
        <div class="logo"><a href="/">

          <%= image_tag 'logo.png' %>
        </a></div><!-- /.logo -->
      </div>

      <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="product-tabs outer-top-smal  wow fadeInUp">
          <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
            <li class="active"><a data-toggle="tab" href="#camiones">ENCUENTRA TU CAMIÓN</a></li>
            <li><a data-toggle="tab" href="#repuestos">REPUESTOS</a></li>
            <li><a data-toggle="tab" href="#servicios">SERVICIOS</a></li>
          </ul><!-- /.nav-tabs #product-tabs -->
          <div class="tab-content outer-top-xs">
            <div id="camiones" class="tab-pane in active">
              <div class="product-tab sty-tabsh">

                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                  <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>TIPO DE <b>CAMIÓN</b></p></label>
                  <div class="attribute_list">

                    <%= select :camion,:type, options_for_select(@types.map{ |c| [c.name, c.link_rewrite, {'data-id'=>c.id}] }), {prompt: 'Todas las marcas'}, :class=>'form-control' %>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>MARCAS</p></label>
                  <div class="attribute_list">
                    <%= collection_select(:camion, :brand, BrandTruck.order(:name), :link_rewrite, :name, {prompt: 'Todas las marcas'}, :class=>'form-control') %>



                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>UBICACIÓN</p></label>
                  <div class="attribute_list">
                    <%= collection_select(:camion, :state, State.order(:id), :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control') %>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key">&nbsp;</label>
                  <div class="attribute_list pull-right" style="width: 100%;">
                    <button id='btn-camion' class="btn btn-primary" type="submit" style="width:100%">BUSCAR</button>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>



              </div>
            </div><!-- /.tab-pane -->

            <div id="repuestos" class="tab-pane">
              <div class="product-tab sty-tabsh">

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>TIPO DE <b>CAMIÓN</b></p></label>
                  <div class="attribute_list">
                    <%= select :servicio,:type, options_for_select(@types.map{ |c| [c.name, c.link_rewrite, {'data-id'=>c.id}] }), {prompt: 'Todas las marcas'}, :class=>'form-control' %>


                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>TIPO DE <b>REPUESTOS</b></p></label>
                  <div class="attribute_list">
                    <%= collection_select(:servicio, :brand, BrandExtra.order(:id), :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control') %>

                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>UBICACIÓN</p></label>
                  <div class="attribute_list">
                    <%= collection_select(:servicio, :state, State.order('name ASC'), :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control') %>

                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-3 col-sm-3 col-md-3"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key">&nbsp;</label>
                  <div class="attribute_list pull-right" style="width:100%">
                    <button class="btn btn-primary" type="button" style="width:100%" id="btn-repuesto">BUSCAR</button>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>

              </div><!-- /.product-tab -->
            </div><!-- /.tab-pane -->

            <div id="servicios" class="tab-pane">
              <div class="product-tab sty-tabsh">

                <div class="col-xs-4 col-sm-4 col-md-4"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>TIPO DE <b>SERVICIO</b></p></label>
                  <div class="attribute_list">

                    <%= collection_select(:state, :service, TypeService.order(:id), :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control') %>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>







                <div class="col-xs-4 col-sm-4 col-md-4"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key"><p>UBICACIÓN</p></label>
                  <div class="attribute_list">
                    <%= collection_select(:servi, :state, State.order('name ASC'), :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control') %>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>

                <div class="col-xs-4 col-sm-4 col-md-4"><fieldset class="attribute_fieldset">
                  <label for="group_1" class="attribute_label attribute-key">&nbsp;</label>
                  <div class="attribute_list pull-right" style="width:100%">
                    <button class="btn btn-primary" type="button" style="width:100%" id="btn-servi">BUSCAR</button>
                  </div> <!-- /.attribute_list -->
                </fieldset></div>

              </div><!-- /.product-tab -->
            </div><!-- /.tab-pane -->

          </div><!-- /.tab-content -->

        </div><!-- /.product-tabs -->
      </div><!-- /.logo-holder -->
    </div>
  </div><!-- /.top-search-holder -->
</div><!-- /.top-cart-row -->
</div><!-- /.row -->

</div><!-- /.container -->

</div><!-- /.main-header -->

<!-- ============================================== NAVBAR ============================================== -->

<!-- ============================================== NAVBAR : END ============================================== -->

</header>
