

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Volquetas</a></li>
        <li class='active'>Nombre del Producto</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
<div class='row single-product outer-bottom-sm '>

<div class='col-md-3 sidebar'>
<!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
  <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> CATEGORIAS PRINCIPALES</div>
  <nav class="yamm megamenu-horizontal" role="navigation">
    <ul class="nav">


      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRACTOMULAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Tractomula</a></li>
                  <li><a href="">Minimula</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VOLQUETAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Sencilla</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAMIONES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">1-5 Toneladas</a></li>
                  <li><a href="">5-10 Toneladas</a></li>
                  <li><a href="">Sencillo</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Microbus</a></li>
                  <li><a href="">Autobus</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRAILERS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Trailes</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VANS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Carga</a></li>
                  <li><a href="">Pasajeros</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->



    </ul><!-- /.nav -->
  </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->	            <div class="sidebar-module-container">
  <h3 class="section-title">Opciones de Busqueda</h3>
  <div class="sidebar-filter">

    <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
      <div class="widget-header">
        <h4 class="widget-title">Rango de Precio</h4>
      </div>
      <div class="sidebar-widget-body m-t-20">
        <div class="price-range-holder">
      	    <span class="min-max">
                 <span class="pull-left">$80.000.000</span>
                 <span class="pull-right">$100.000.000</span>
            </span>
          <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">

          <input type="text" class="price-slider" value="" >

        </div><!-- /.price-range-holder -->
        <a href="#" class="lnk btn btn-primary">Buscar</a>
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->

    <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
    <div class="sidebar-widget wow fadeInUp outer-bottom-xs ">

      <div class="sidebar-widget-body m-t-10">
        <div class="accordion">
          <div class="widget-header">
            <h4 class="widget-title">Mas Opciones</h4>
          </div>

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#modelo" data-toggle="collapse" class="accordion-toggle collapsed">Modelo</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="modelo" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">2008</a></li>
                <li><a href="#">2007</a></li>
                <li><a href="#">2006</a></li>
                <li><a href="#">2005</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#marcas" data-toggle="collapse" class="accordion-toggle collapsed">Marcas</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="marcas" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Chevrolet</a></li>
                <li><a href="#">Renult</a></li>
                <li><a href="#">Foton</a></li>
                <li><a href="#">JAC</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#ubicacion" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="ubicacion" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Medellín</a></li>
                <li><a href="#">El Retiro</a></li>
                <li><a href="#">Envigado</a></li>
                <li><a href="#">Rionegro</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#kilometraje" data-toggle="collapse" class="accordion-toggle collapsed">Kilometraje</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="kilometraje" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">0 Km</a></li>
                <li><a href="#">1 - 25.00 Km</a></li>
                <li><a href="#">25.000 - 50.000 Km</a></li>
                <li><a href="#">50.000 - 100.000 Km</a></li>
                <li><a href="#">Más de 100.000 Km</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#estado" data-toggle="collapse" class="accordion-toggle collapsed">Estado</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="estado" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Nuevo</a></li>
                <li><a href="#">Usado</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#placa" data-toggle="collapse" class="accordion-toggle collapsed">Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="placa" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">MCN 942</a></li>
                <li><a href="#">KJM 558</a></li>
                <li><a href="#">ZHG 559</a></li>
                <li><a href="#">JHU 588</a></li>
                <li><a href="#">JUK 558</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#uplaca" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="uplaca" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Cundinamarca</a></li>
                <li><a href="#">Antioquia</a></li>
                <li><a href="#">Boyaca</a></li>
                <li><a href="#">Bolivar</a></li>
                <li><a href="#">Santander</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->


        </div><!-- /.accordion -->
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== SIDEBAR CATEGORY : END ============================================== -->
    <!-- ============================================== PRICE SILDER============================================== -->

    <!-- ============================================== PRICE SILDER : END ============================================== -->
    <!-- ============================================== MANUFACTURES============================================== -->

    <!-- ============================================== MANUFACTURES: END ============================================== -->
    <!-- ============================================== COLOR============================================== -->

    <!-- ============================================== COLOR: END ============================================== -->
    <!-- ============================================== COMPARE============================================== -->

    <!-- ============================================== COMPARE: END ============================================== -->
    <!-- ============================================== PRODUCT TAGS ============================================== -->

    <!-- ============================================== PRODUCT TAGS : END ============================================== -->		            	<!-- ============================================== COLOR============================================== -->
    <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
      <div id="advertisement" class="advertisement">
        <div class="item bg-color">
          <div class="container-fluid">
            <div class="caption vertical-top text-left">
              <div class="big-text">
                Save<span class="big">50%</span>
              </div>


              <div class="excerpt">
                on selected items
              </div>
            </div><!-- /.caption -->
          </div><!-- /.container-fluid -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url('assets/images/advertisement/1.jpg');">

        </div><!-- /.item -->

        <div class="item bg-color">
          <div class="container-fluid">
            <div class="caption vertical-top text-left">
              <div class="big-text">
                Save<span class="big">50%</span>
              </div>


              <div class="excerpt fadeInDown-2">
                on selected items
              </div>
            </div><!-- /.caption -->
          </div><!-- /.container-fluid -->
        </div><!-- /.item -->

      </div><!-- /.owl-carousel -->
    </div>

    <!-- ============================================== COLOR: END ============================================== -->

  </div><!-- /.sidebar-filter -->
</div><!-- /.sidebar-module-container -->
</div><!-- /.sidebar -->


<div class='col-md-9'>
<div class="row  wow fadeInUp">
  <div class="col-xs-12 col-sm-6 col-md-7 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">

      <div id="owl-single-product">
        <div class="single-product-gallery-item" id="slide1">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide2">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide3">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide4">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide5">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide6">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide7">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide8">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

        <div class="single-product-gallery-item" id="slide9">
          <a data-lightbox="image-1" data-title="Gallery" href="assets/images/fashion-products/d1.jpg">
            <img class="img-responsive" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d1.jpg" />
          </a>
        </div><!-- /.single-product-gallery-item -->

      </div><!-- /.single-product-slider -->


      <div class="single-product-gallery-thumbs second-gallery-thumb gallery-thumbs">

        <div id="owl-single-product2-thumbnails">
          <div class="item">
            <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d2.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide2">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d3.jpg"/>
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide3">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d4.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide4">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d5.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide5">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d2.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide6">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d5.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="0" href="#slide7">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d4.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="1" href="#slide8">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d3.jpg" />
            </a>
          </div>
          <div class="item">

            <a class="horizontal-thumb" data-target="#owl-single-product" data-slide="2" href="#slide9">
              <img class="img-responsive" width="85" alt="" src="assets/images/blank.gif" data-echo="assets/images/fashion-products/d5.jpg" />
            </a>
          </div>

        </div><!-- /#owl-single-product-thumbnails -->




        <div class="nav-holder left">
          <a class="prev-btn slider-prev" data-target="#owl-single-product2-thumbnails" href="#prev"></a>
        </div><!-- /.nav-holder -->
        <div class="nav-holder right">
          <a class="next-btn slider-next" data-target="#owl-single-product2-thumbnails" href="#next"></a>
        </div><!-- /.nav-holder -->
      </div><!-- /.gallery-thumbs -->

    </div><!-- /.single-product-gallery -->
  </div><!-- /.gallery-holder -->
  <div class='col-sm-6 col-md-5 product-info-block'>
    <div class="product-info">
      <h1 class="name"><%= @truck.nombre %></h1>
      <h3><%= number_to_currency( @truck.price) %></h3>
      <div class="stock-container info-container m-t-10">
        <div class="row footer color-bg">

          <div class="col-sm-12 contact-timing">

            <div class="module-body outer-top-xs">
              <div class="table-responsive">
                <table class="table"><tbody>
                <tr class="nymou"><td>Modelo:</td><td class="pull-right"><%= @truck.modelo %></td></tr>
                <tr class="nymou"><td>Marca:</td><td class="pull-right"><%= @truck.brand_truck.name %></td></tr>
                <tr class="nymou"><td>Ubicación:</td><td class="pull-right"><%= @truck.state.name %> - <%= @truck.city.name %></td></tr>
                <tr class="nymou"><td>Kilometraje:</td><td class="pull-right"><%= @truck.kilometraje %> Km</td></tr>
                <tr class="nymou"><td>Estado:</td><td class="pull-right">
                  <% if( @truck.estado == 0) %>
                        Nuevo
                  <% else %>
                        Usado
                  <% end %>
                 </td></tr>
                <tr class="nymou"><td>Placa:</td><td class="pull-right"><%= @truck.placa.upcase %></td></tr>
                <tr class="nymou"><td>Ubicación Placa:</td><td class="pull-right"><%= @truck.ubicacionplaca %></td></tr>
                <tr class="nymou"><td>Color:</td><td class="pull-right"><%= @truck.color %></td></tr>
                <tr class="nymou"><td>Tipo Combustible</td>
                  <td class="pull-right">


                    <% if  @truck.tipocombustible == '0' %>
                        Gasolina
                    <% else if  @truck.tipocombustible == '1' %>
                            Gas
                    <% end %>
                            ACPM
                    <% end %>


                </td>
                        </tr>
                </tbody></table>
              </div><!-- /.table-responsive -->
            </div><!-- /.module-body -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.stock-container -->

    <div class="description-container m-t-20">
      <h4>Vendedor</h4>
      <p>Teléfono: <b>3200 002200</b></p>

    </div><!-- /.description-container -->

    <div class="row outer-top-vs"><div class="cart col-md-12 col-lg-6 clearfix animate-effect">
      <div class="action"><button type="button" class="btn btn-primary">Contactar</button>
      </div><!-- /.action -->
    </div>
    </div>
  </div><!-- /.product-info -->
</div><!-- /.col-sm-5 -->

<div class="product-tabs outer-top-smal  wow fadeInUp">

  <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
    <li class="active"><a data-toggle="tab" href="#detalles">DETALLES</a></li>
    <li><a data-toggle="tab" href="#contactar">CONTACTAR</a></li>
  </ul><!-- /.nav-tabs #product-tabs -->

  <div class="tab-content outer-top-xs">

    <div id="detalles" class="tab-pane in active">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">
        <div class="review-table">
          <p><h3>Descripción General</h3>
          Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
          </p>
          <div class="table-responsive">
            <table class="table table-bordered">
              <!--<thead>
                  <tr>
                      <th class="cell-label">&nbsp;</th>
                      <th>Marca Motor</th>
                      <th>2 stars</th>
                      <th>3 stars</th>
                      <th>4 stars</th>
                      <th>5 stars</th>
                  </tr>
              </thead>-->
              <tbody>
              <tr class="nymou">
                <td class="cell-label"><b>Marca Motor</b><br> Sicads</td>
                <td><b>Marca de la Caja</b><br> Sicads</td>
                <td><b>Marca de Transmisión</b><br> Sicads</td>
                <td><b>Quinta Rueda</b><br> Si</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Tipo de Cupo</b><br> 80</td>
                <td><b>Empresa donde esta afiliada</b><br> Cooperativa Trans</td>
                <td><b>Marca Carpa</b><br> Sicads</td>
                <td><b>Capacidad de Carga</b><br> 120 Toneladas</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Capacidad de Pasajeros</b><br> 20</td>
                <td><b>Cilindraje CC</b><br> DF554</td>
                <td><b>Numero de ejes</b><br> 68</td>
                <td><b>Con Trailer</b><br> No</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Negociable</b><br> No</td>
                <td><b>Estado Llantas</b><br> Bueno</td>
                <td><b>Vigias</b><br> Si</td>
                <td><b>Tipo de Caja</b><br> Mécanica</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Motor Reparado</b><br> Si</td>
                <td><b>Caja Reparada</b><br> No</td>
                <td><b>Transmisión Reparada</b><br> Si</td>
                <td><b>Frenos ABS</b><br> No</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Se vende con cupo</b><br> Si</td>
                <td><b>Sillas reclinables</b><br> No</td>
                <td><b>Baño</b><br> Si</td>
                <td><b>Descansa pies</b><br> No</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>TV</b><br> Si</td>
                <td><b>Pantalla individual</b><br> No</td>
                <td><b>Wiffi</b><br> Si</td>
                <td><b>Audio</b><br> No</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Único dueño</b><br> Si</td>
                <td><b>Wiffi</b><br> Si</td>
                <td><b>Audio</b><br> No</td>
              </tr>
              </tbody>
            </table><!-- /.table .table-bordered -->
          </div><!-- /.table-responsive -->
        </div><!-- /.review-table -->
      </div>
    </div><!-- /.tab-pane -->

    <div id="contactar" class="tab-pane">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">

        <div class="review-form">
          <div class="form-container">
            <form role="form" class="cnt-form">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputName">Nombre <span class="astk">*</span></label>
                    <input type="text" class="form-control txt" id="exampleInputName" placeholder="">
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label for="exampleInputSummary">Teléfono <span class="astk">*</span></label>
                    <input type="text" class="form-control txt" id="exampleInputSummary" placeholder="">
                  </div><!-- /.form-group -->
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputReview">Mensaje <span class="astk">*</span></label>
                    <textarea class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder=""></textarea>
                  </div><!-- /.form-group -->
                </div>
              </div><!-- /.row -->

              <div class="action text-right">
                <button class="btn btn-primary btn-upper">ENVIAR CONSULTA</button>
              </div><!-- /.action -->

            </form><!-- /.cnt-form -->
          </div><!-- /.form-container -->
        </div><!-- /.review-form -->

      </div><!-- /.product-add-review -->

    </div><!-- /.product-tab -->
  </div><!-- /.tab-pane -->


</div><!-- /.tab-content -->

</div><!-- /.product-tabs -->

</div><!-- /.col -->
</div><!-- /.row -->




<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
</div><!-- /.container -->
</div>