

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Volquetas</a></li>
        <li class='active'>Nombre del Producto</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
<div class='row single-product outer-bottom-sm '>

<div class='col-md-3 sidebar'>
<!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
  <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> CATEGORIAS PRINCIPALES</div>
  <nav class="yamm megamenu-horizontal" role="navigation">
    <ul class="nav">


      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRACTOMULAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Tractomula</a></li>
                  <li><a href="">Minimula</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VOLQUETAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Sencilla</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAMIONES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">1-5 Toneladas</a></li>
                  <li><a href="">5-10 Toneladas</a></li>
                  <li><a href="">Sencillo</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Microbus</a></li>
                  <li><a href="">Autobus</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRAILERS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Trailes</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VANS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Carga</a></li>
                  <li><a href="">Pasajeros</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->



    </ul><!-- /.nav -->
  </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->	            <div class="sidebar-module-container">
  <h3 class="section-title">Opciones de Busqueda</h3>
  <div class="sidebar-filter">

    <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
      <div class="widget-header">
        <h4 class="widget-title">Rango de Precio</h4>
      </div>
      <div class="sidebar-widget-body m-t-20">
        <div class="price-range-holder">
      	    <span class="min-max">
                 <span class="pull-left">$80.000.000</span>
                 <span class="pull-right">$100.000.000</span>
            </span>
          <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">

          <input type="text" class="price-slider" value="" >

        </div><!-- /.price-range-holder -->
        <a href="#" class="lnk btn btn-primary">Buscar</a>
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->

    <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
    <div class="sidebar-widget wow fadeInUp outer-bottom-xs ">

      <div class="sidebar-widget-body m-t-10">
        <div class="accordion">
          <div class="widget-header">
            <h4 class="widget-title">Mas Opciones</h4>
          </div>

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#modelo" data-toggle="collapse" class="accordion-toggle collapsed">Modelo</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="modelo" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">2008</a></li>
                <li><a href="#">2007</a></li>
                <li><a href="#">2006</a></li>
                <li><a href="#">2005</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#marcas" data-toggle="collapse" class="accordion-toggle collapsed">Marcas</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="marcas" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Chevrolet</a></li>
                <li><a href="#">Renult</a></li>
                <li><a href="#">Foton</a></li>
                <li><a href="#">JAC</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#ubicacion" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="ubicacion" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Medellín</a></li>
                <li><a href="#">El Retiro</a></li>
                <li><a href="#">Envigado</a></li>
                <li><a href="#">Rionegro</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#kilometraje" data-toggle="collapse" class="accordion-toggle collapsed">Kilometraje</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="kilometraje" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">0 Km</a></li>
                <li><a href="#">1 - 25.00 Km</a></li>
                <li><a href="#">25.000 - 50.000 Km</a></li>
                <li><a href="#">50.000 - 100.000 Km</a></li>
                <li><a href="#">Más de 100.000 Km</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#estado" data-toggle="collapse" class="accordion-toggle collapsed">Estado</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="estado" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Nuevo</a></li>
                <li><a href="#">Usado</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#placa" data-toggle="collapse" class="accordion-toggle collapsed">Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="placa" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">MCN 942</a></li>
                <li><a href="#">KJM 558</a></li>
                <li><a href="#">ZHG 559</a></li>
                <li><a href="#">JHU 588</a></li>
                <li><a href="#">JUK 558</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#uplaca" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="uplaca" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Cundinamarca</a></li>
                <li><a href="#">Antioquia</a></li>
                <li><a href="#">Boyaca</a></li>
                <li><a href="#">Bolivar</a></li>
                <li><a href="#">Santander</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->


        </div><!-- /.accordion -->
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== SIDEBAR CATEGORY : END ============================================== -->
    <!-- ============================================== PRICE SILDER============================================== -->

    <!-- ============================================== PRICE SILDER : END ============================================== -->
    <!-- ============================================== MANUFACTURES============================================== -->

    <!-- ============================================== MANUFACTURES: END ============================================== -->
    <!-- ============================================== COLOR============================================== -->

    <!-- ============================================== COLOR: END ============================================== -->
    <!-- ============================================== COMPARE============================================== -->

    <!-- ============================================== COMPARE: END ============================================== -->
    <!-- ============================================== PRODUCT TAGS ============================================== -->

    <!-- ============================================== PRODUCT TAGS : END ============================================== -->		            	<!-- ============================================== COLOR============================================== -->
    <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
      <div id="advertisement" class="advertisement">
        <div class="item bg-color">
          <%= image_tag('bi01.jpg') %>
        </div><!-- /.item -->

        <div class="item" style="background-image: url('assets/images/advertisement/1.jpg');">
          <%= image_tag('bi02.jpg') %>
        </div><!-- /.item -->

        <div class="item bg-color">
          <%= image_tag('bi03.jpg') %>
        </div><!-- /.item -->

      </div><!-- /.owl-carousel -->
    </div>

    <!-- ============================================== COLOR: END ============================================== -->

  </div><!-- /.sidebar-filter -->
</div><!-- /.sidebar-module-container -->
</div><!-- /.sidebar -->


<div class='col-md-9'>
<div class="row  wow fadeInUp">
  <div class="col-xs-12 col-sm-6 col-md-7 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">

      <div id="owl-single-product">


        <% if @truck.picture2.to_s  != '/images/missing.png' %>
        <div class="single-product-gallery-item" id="slide1">
          <a data-lightbox="image-1" data-title="Gallery" href="<%= image_path( @truck.picture2(:home ))  %>">
            <%= image_tag @truck.picture2(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture2(:home ))  %>
          </a>
        </div>
         <% end %>



        <% if @truck.picture3.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide2">
              <a data-lightbox="image-2" data-title="Gallery" href="<%= image_path( @truck.picture3(:home ))  %>">
                <%= image_tag @truck.picture3(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture3(:home ))  %>
              </a>
            </div>
        <% end %>


        <% if @truck.picture4.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide3">
              <a data-lightbox="image-3" data-title="Gallery" href="<%= image_path( @truck.picture4(:home ))  %>">
                <%= image_tag @truck.picture4(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture4(:home ))  %>
              </a>
            </div>
        <% end %>



        <% if @truck.picture5.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide4">
              <a data-lightbox="image-4" data-title="Gallery" href="<%= image_path( @truck.picture5(:home ))  %>">
                <%= image_tag @truck.picture5(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture5(:home ))  %>
              </a>
            </div>
        <% end %>





      </div><!-- /.single-product-slider -->


      <div class="single-product-gallery-thumbs second-gallery-thumb gallery-thumbs">

        <div id="owl-single-product2-thumbnails">

          <% if @truck.picture2.to_s  != '/images/missing.png' %>
          <div class="item">
            <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">

              <%= image_tag @truck.picture2(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture2(:home ))  %>
            </a>
          </div>
          <% end %>


          <% if @truck.picture3.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="1" href="#slide2">

                  <%= image_tag @truck.picture3(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture3(:home ))  %>
                </a>
              </div>
          <% end %>



          <% if @truck.picture4.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="2" href="#slide3">

                  <%= image_tag @truck.picture4(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture4(:home ))  %>
                </a>
              </div>
          <% end %>



          <% if @truck.picture5.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="3" href="#slide4">

                  <%= image_tag @truck.picture5(:home ), :class=>'img-responsive', 'data-echo'=>image_path( @truck.picture5(:home ))  %>
                </a>
              </div>
          <% end %>






        </div><!-- /#owl-single-product-thumbnails -->




        <div class="nav-holder left">
          <a class="prev-btn slider-prev" data-target="#owl-single-product2-thumbnails" href="#prev"></a>
        </div><!-- /.nav-holder -->
        <div class="nav-holder right">
          <a class="next-btn slider-next" data-target="#owl-single-product2-thumbnails" href="#next"></a>
        </div><!-- /.nav-holder -->
      </div><!-- /.gallery-thumbs -->

    </div><!-- /.single-product-gallery -->
  </div><!-- /.gallery-holder -->
  <div class='col-sm-6 col-md-5 product-info-block'>
    <div class="product-info">
      <h1 class="name"><%= @truck.nombre %></h1>
      <h3><%= number_to_currency( @truck.price) %></h3>
      <div class="stock-container info-container m-t-10">
        <div class="row footer color-bg">

          <div class="col-sm-12 contact-timing">

            <div class="module-body outer-top-xs">
              <div class="table-responsive">
                <table class="table"><tbody>
                <tr class="nymou"><td>Modelo:</td><td class="pull-right"><%= @truck.modelo %></td></tr>
                <tr class="nymou"><td>Marca:</td><td class="pull-right"><%= @truck.brand_truck.name %></td></tr>
                <tr class="nymou"><td>Ubicación:</td><td class="pull-right"><%= @truck.state.name %> - <%= @truck.city.name %></td></tr>
                <tr class="nymou"><td>Kilometraje:</td><td class="pull-right"><%= @truck.kilometraje %> Km</td></tr>
                <tr class="nymou"><td>Estado:</td><td class="pull-right">
                  <% if( @truck.estado == 0) %>
                        Nuevo
                  <% else %>
                        Usado
                  <% end %>
                 </td></tr>
                <tr class="nymou"><td>Placa:</td><td class="pull-right"><%= @truck.placa.upcase %></td></tr>
                <tr class="nymou"><td>Ubicación Placa:</td><td class="pull-right"><%= @truck.ubicacionplaca %></td></tr>
                <tr class="nymou"><td>Color:</td><td class="pull-right"><%= @truck.color %></td></tr>
                <tr class="nymou"><td>Tipo Combustible</td>
                  <td class="pull-right">


                    <% if  @truck.tipocombustible == '0' %>
                        Gasolina
                    <% else if  @truck.tipocombustible == '1' %>
                            Gas
                    <% end %>
                            ACPM
                    <% end %>


                </td>
                        </tr>
                </tbody></table>
              </div><!-- /.table-responsive -->
            </div><!-- /.module-body -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.stock-container -->

    <div class="description-container m-t-20">
      <h4>Vendedor</h4>
      <p>Teléfono: <b>3200 002200</b></p>

    </div><!-- /.description-container -->

    <div class="row outer-top-vs"><div class="cart col-md-12 col-lg-6 clearfix animate-effect">
      <div class="action"><button type="button" class="btn btn-primary">Contactar</button>
      </div><!-- /.action -->
    </div>
    </div>
  </div><!-- /.product-info -->
</div><!-- /.col-sm-5 -->

<div class="product-tabs outer-top-smal  wow fadeInUp">

  <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
    <li class="active"><a data-toggle="tab" href="#detalles">DETALLES</a></li>
    <li><a data-toggle="tab" href="#contactar">CONTACTAR</a></li>
  </ul><!-- /.nav-tabs #product-tabs -->

  <div class="tab-content outer-top-xs">

    <div id="detalles" class="tab-pane in active">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">
        <div class="review-table">
         <h3>Descripción General</h3>
          <p>  <%= @truck.descripccion %></p>

          <div class="table-responsive">
            <table class="table table-bordered">
              <!--<thead>
                  <tr>
                      <th class="cell-label">&nbsp;</th>
                      <th>Marca Motor</th>
                      <th>2 stars</th>
                      <th>3 stars</th>
                      <th>4 stars</th>
                      <th>5 stars</th>
                  </tr>
              </thead>-->
              <tbody>
              <tr class="nymou">
                <td class="cell-label"><b>Marca Motor</b><br> <%= @truck.marcamotor %></td>
                <td><b>Marca de la Caja</b><br> <%= @truck.marcacaja %></td>
                <td><b>Marca de Transmisión</b><br> <%= @truck.marcatransmision %></td>
                <td><b>Quinta Rueda</b><br> Si</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Tipo de Cupo</b><br> <%= @truck.cupo %></td>
                <td><b>Empresa donde esta afiliada</b><br> <%= @truck.empresaafiliada %></td>
                <td><b>Marca Carpa</b><br> <%= @truck.marcacarpa %></td>
                <td><b>Capacidad de Carga</b><br> <%= @truck.capacidadcarga %> Toneladas</td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Capacidad de Pasajeros</b><br> <%= @truck.capacidadpasajeros %></td>
                <td><b>Cilindraje CC</b><br> <%= @truck.cilindrajecc %></td>
                <td><b>Numero de ejes</b><br> <%= @truck.numeroejes %></td>
                <td><b>Con Trailer</b><br><% if @truck.trailer == false %>No <% else %> Si <% end %></td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Negociable</b><br> <% if @truck.negociable == false %>No <% else %> Si <% end %></td>
                <td><b>Estado Llantas</b><br> Bueno</td>
                <td><b>Vigias</b><br> <% if @truck.vigia == false %>No <% else %> Si <% end %></td>
                <td><b>Tipo de Caja</b><br>

                  <% if  @truck.tipodecaja == 0 %>
                      Automatica
                  <% else %>
                        Manual
                  <% end %>

                </td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Motor Reparado</b><br> <% if @truck.motorreparado == false %>No <% else %> Si <% end %></td>
                <td><b>Caja Reparada</b><br> <% if @truck.cajareparada == false %>No <% else %> Si <% end %></td>
                <td><b>Transmisión Reparada</b><br> Si</td>
                <td><b>Frenos ABS</b><br> <% if @truck.frenosabs == false %>No <% else %> Si <% end %></td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Se vende con cupo</b><br> <% if @truck.cupo == false %>No <% else %> Si <% end %></td>
                <td><b>Sillas reclinables</b><br> <% if @truck.sillareclinable == false %>No <% else %> Si <% end %></td>
                <td><b>Baño</b><br> <% if @truck.bano == false %>No <% else %> Si <% end %></td>
                <td><b>Descansa pies</b><br> <% if @truck.descansapies == false %>No <% else %> Si <% end %></td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>TV</b><br> <% if @truck.tv == false %>No <% else %> Si <% end %></td>
                <td><b>Pantalla individual</b><br> <% if @truck.pantallaindividual == false %>No <% else %> Si <% end %></td>
                <td><b>Wifi</b><br> <% if @truck.wifi == false %>No <% else %> Si <% end %></td>
                <td><b>Audio</b><br> <% if @truck.audio == false %>No <% else %> Si <% end %></td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Único dueño</b><br> <% if @truck.unicodueno == false %>No <% else %> Si <% end %></td>
                <td></td>
                <td></td>
                <td></td>

              </tr>
              </tbody>
            </table><!-- /.table .table-bordered -->
          </div><!-- /.table-responsive -->
        </div><!-- /.review-table -->
      </div>
    </div><!-- /.tab-pane -->

    <div id="contactar" class="tab-pane">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">

        <div class="review-form">
          <div class="form-container">
            <form role="form" class="cnt-form">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="exampleInputName">Nombre <span class="astk">*</span></label>
                    <input type="text" class="form-control txt" id="exampleInputName" placeholder="">
                  </div><!-- /.form-group -->
                  <div class="form-group">
                    <label for="exampleInputSummary">Teléfono <span class="astk">*</span></label>
                    <input type="text" class="form-control txt" id="exampleInputSummary" placeholder="">
                  </div><!-- /.form-group -->
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="exampleInputReview">Mensaje <span class="astk">*</span></label>
                    <textarea class="form-control txt txt-review" id="exampleInputReview" rows="4" placeholder=""></textarea>
                  </div><!-- /.form-group -->
                </div>
              </div><!-- /.row -->

              <div class="action text-right">
                <button class="btn btn-primary btn-upper">ENVIAR CONSULTA</button>
              </div><!-- /.action -->

            </form><!-- /.cnt-form -->
          </div><!-- /.form-container -->
        </div><!-- /.review-form -->

      </div><!-- /.product-add-review -->

    </div><!-- /.product-tab -->
  </div><!-- /.tab-pane -->


</div><!-- /.tab-content -->

</div><!-- /.product-tabs -->

</div><!-- /.col -->
</div><!-- /.row -->




<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
</div><!-- /.container -->
</div>