
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="/">Home</a></li>

      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
  <div class='container'>
    <div class='row outer-bottom-sm'>

      <div class='col-md-12'>
        <!-- ========================================== SECTION – HERO ========================================= -->



        <!-- ========================================= SECTION – HERO : END ========================================= -->

        <div class="search-result-container">
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane active " id="grid-container">
              <div class="category-product  inner-top-vs">
                <div class="row">
                  <% if !@trucks.nil? && @trucks.count>0 %>


                      <% @trucks.each do |truck| %>


                          <div class="col-md-3 wow fadeInUp">
                            <div class="products"><div class="product">
                              <div class="product-image"><div class="image">
                                <a href="<%= camion_path(truck.id, truck.link_rewrite) %>">

                                  <%= image_tag truck.picture1(:thumb ) %>
                                </a>
                              </div></div><!-- /.product-image -->
                              <div class="product-info text-left">
                                <h3 class="name"><a href="#"><%= truck.nombre %></a></h3>
                                <div class="description"><%= truck.modelo %> | <%= truck.state.name %></div>
                                <div class="product-price">
                                  <span class="price"><%= number_to_currency( truck.price,  precision: 0, delimiter: '.') %></span>
                                </div><!-- /.product-price -->
                              </div><!-- /.product-info -->
                              <div class="cart clearfix animate-effect">
                                <div class="action">
                                  <ul class="list-unstyled">
                                    <li class="add-cart-button btn-group">
                                      <a class="btn btn-primary"  href="<%= camion_path(truck.id, truck.link_rewrite) %>">Ver más</a>
                                    </li>
                                  </ul>
                                </div><!-- /.action -->
                              </div></div></div>
                          </div><!-- /.item -->


                      <% end %>
                  <% else %>
                      <div class="row">
                        <div class="col-md-12">
                          <p>
                            No se encuentran resultados con la busqueda
                          </p>
                        </div>
                      </div>
                  <% end %>









                </div><!-- /.row -->
              </div><!-- /.category-product -->

            </div><!-- /.tab-pane -->


          </div><!-- /.tab-content -->
          <div class="clearfix filters-container">
            <div class="text-right">
              <div class="pagination-container">





              </div><!-- /.pagination-container -->						    </div><!-- /.text-right -->

          </div><!-- /.filters-container -->

        </div><!-- /.search-result-container -->

      </div><!-- /.col -->
    </div><!-- /.row -->
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->

    <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->

</div><!-- /.body-content -->
