
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li class='active'>Volquetas</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class='row outer-bottom-sm'>
<div class='col-md-3 sidebar'>
<!-- ================================== TOP NAVIGATION ================================== -->
<div class="side-menu animate-dropdown outer-bottom-xs">
  <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> CATEGORIAS PRINCIPALES</div>
  <nav class="yamm megamenu-horizontal" role="navigation">
    <ul class="nav">


      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRACTOMULAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Tractomula</a></li>
                  <li><a href="">Minimula</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VOLQUETAS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Sencilla</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">CAMIONES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">1-5 Toneladas</a></li>
                  <li><a href="">5-10 Toneladas</a></li>
                  <li><a href="">Sencillo</a></li>
                  <li><a href="">Doble Troque</a></li>
                  <li><a href="">Cuatro Manos</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BUSES</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Microbus</a></li>
                  <li><a href="">Autobus</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">TRAILERS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Trailes</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->

      <li class="dropdown menu-item">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">VANS</a>
        <ul class="dropdown-menu mega-menu">
          <li class="yamm-content">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <ul class="links list-unstyled">
                  <li><a href="">Carga</a></li>
                  <li><a href="">Pasajeros</a></li>
                </ul>
              </div><!-- /.col -->
            </div><!-- /.row -->
          </li><!-- /.yamm-content -->
        </ul>
      </li><!-- /.menu-item -->



    </ul><!-- /.nav -->
  </nav><!-- /.megamenu-horizontal -->
</div><!-- /.side-menu -->
<!-- ================================== TOP NAVIGATION : END ================================== -->	            <div class="sidebar-module-container">
  <h3 class="section-title">Opciones de Busqueda</h3>
  <div class="sidebar-filter">

    <div class="sidebar-widget outer-bottom-xs wow fadeInUp">
      <div class="widget-header">
        <h4 class="widget-title">Rango de Precio</h4>
      </div>
      <div class="sidebar-widget-body m-t-20">
        <div class="price-range-holder">
      	    <span class="min-max">
                 <span class="pull-left">$80.000.000</span>
                 <span class="pull-right">$100.000.000</span>
            </span>
          <input type="text" id="amount" style="border:0; color:#666666; font-weight:bold;text-align:center;">

          <input type="text" class="price-slider" value="" >

        </div><!-- /.price-range-holder -->
        <a href="#" class="lnk btn btn-primary">Buscar</a>
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->

    <!-- ============================================== SIDEBAR CATEGORY ============================================== -->
    <div class="sidebar-widget wow fadeInUp outer-bottom-xs ">

      <div class="sidebar-widget-body m-t-10">
        <div class="accordion">
          <div class="widget-header">
            <h4 class="widget-title">Mas Opciones</h4>
          </div>

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#modelo" data-toggle="collapse" class="accordion-toggle collapsed">Modelo</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="modelo" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">2008</a></li>
                <li><a href="#">2007</a></li>
                <li><a href="#">2006</a></li>
                <li><a href="#">2005</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#marcas" data-toggle="collapse" class="accordion-toggle collapsed">Marcas</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="marcas" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Chevrolet</a></li>
                <li><a href="#">Renult</a></li>
                <li><a href="#">Foton</a></li>
                <li><a href="#">JAC</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#ubicacion" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="ubicacion" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Medellín</a></li>
                <li><a href="#">El Retiro</a></li>
                <li><a href="#">Envigado</a></li>
                <li><a href="#">Rionegro</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#kilometraje" data-toggle="collapse" class="accordion-toggle collapsed">Kilometraje</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="kilometraje" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">0 Km</a></li>
                <li><a href="#">1 - 25.00 Km</a></li>
                <li><a href="#">25.000 - 50.000 Km</a></li>
                <li><a href="#">50.000 - 100.000 Km</a></li>
                <li><a href="#">Más de 100.000 Km</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#estado" data-toggle="collapse" class="accordion-toggle collapsed">Estado</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="estado" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Nuevo</a></li>
                <li><a href="#">Usado</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#placa" data-toggle="collapse" class="accordion-toggle collapsed">Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="placa" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">MCN 942</a></li>
                <li><a href="#">KJM 558</a></li>
                <li><a href="#">ZHG 559</a></li>
                <li><a href="#">JHU 588</a></li>
                <li><a href="#">JUK 558</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

          <div class="accordion-group"><div class="accordion-heading">
            <a href="#uplaca" data-toggle="collapse" class="accordion-toggle collapsed">Ubicación Placa</a>
          </div><!-- /.accordion-heading -->
            <div class="accordion-body collapse" id="uplaca" style="height: 0px;"><div class="accordion-inner">
              <ul>
                <li><a href="#">Cundinamarca</a></li>
                <li><a href="#">Antioquia</a></li>
                <li><a href="#">Boyaca</a></li>
                <li><a href="#">Bolivar</a></li>
                <li><a href="#">Santander</a></li>
              </ul>
            </div></div></div><!-- /.accordion-group -->

        </div><!-- /.accordion -->
      </div><!-- /.sidebar-widget-body -->
    </div><!-- /.sidebar-widget -->
    <!-- ============================================== SIDEBAR CATEGORY : END ============================================== -->
    <!-- ============================================== PRICE SILDER============================================== -->

    <!-- ============================================== PRICE SILDER : END ============================================== -->
    <!-- ============================================== MANUFACTURES============================================== -->

    <!-- ============================================== MANUFACTURES: END ============================================== -->
    <!-- ============================================== COLOR============================================== -->

    <!-- ============================================== COLOR: END ============================================== -->
    <!-- ============================================== COMPARE============================================== -->

    <!-- ============================================== COMPARE: END ============================================== -->
    <!-- ============================================== PRODUCT TAGS ============================================== -->

    <!-- ============================================== PRODUCT TAGS : END ============================================== -->		            	<!-- ============================================== COLOR============================================== -->
    <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
      <div id="advertisement" class="advertisement">
        <div class="item bg-color">
          <div class="container-fluid">
            <div class="caption vertical-top text-left">
              <div class="big-text">
                Save<span class="big">50%</span>
              </div>


              <div class="excerpt">
                on selected items
              </div>
            </div><!-- /.caption -->
          </div><!-- /.container-fluid -->
        </div><!-- /.item -->

        <div class="item" style="background-image: url('assets/images/advertisement/1.jpg');">

        </div><!-- /.item -->

        <div class="item bg-color">
          <div class="container-fluid">
            <div class="caption vertical-top text-left">
              <div class="big-text">
                Save<span class="big">50%</span>
              </div>


              <div class="excerpt fadeInDown-2">
                on selected items
              </div>
            </div><!-- /.caption -->
          </div><!-- /.container-fluid -->
        </div><!-- /.item -->

      </div><!-- /.owl-carousel -->
    </div>

    <!-- ============================================== COLOR: END ============================================== -->

  </div><!-- /.sidebar-filter -->
</div><!-- /.sidebar-module-container -->
</div><!-- /.sidebar -->
<div class='col-md-9'>
  <!-- ========================================== SECTION – HERO ========================================= -->



  <!-- ========================================= SECTION – HERO : END ========================================= -->

  <div class="search-result-container">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active " id="grid-container">
        <div class="category-product  inner-top-vs">
          <div class="row">
            <% if !@extras.nil?  && @extras.count>0%>
                <% @extras.each do |extra| %>


                    <div class="col-md-3 wow fadeInUp">
                      <div class="products"><div class="product">
                        <div class="product-image"><div class="image">
                          <a href="<%= repuesto_path(extra.id, extra.link_rewrite) %>">

                            <%=  image_tag extra.picture1(:home ) %>
                          </a>
                        </div></div><!-- /.product-image -->
                        <div class="product-info text-left">
                          <h3 class="name"><a href="#"><%= extra.name %></a></h3>
                          <div class="description"><%= extra.city.name %> | <%= extra.state.name %></div>
                          <div class="product-price">
                            <span class="price"><%= number_to_currency( extra.price) %></span>
                          </div><!-- /.product-price -->
                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <a class="btn btn-primary"  href="<%= repuesto_path(extra.id, extra.link_rewrite) %>">Ver más</a>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div></div></div>
                    </div><!-- /.item -->


                <% end %>
            <% else %>
                <p>
                  No se encuentran resultados con la busqueda
                </p>
            <% end %>









          </div><!-- /.row -->
        </div><!-- /.category-product -->

      </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
    <div class="clearfix filters-container">
      <div class="text-right">
        <div class="pagination-container">
          <% if !@extras.nil? %>
              <%= paginate @extras %>
          <% end %>



          <ul class="list-inline list-unstyled">
            <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul><!-- /.list-inline -->
        </div><!-- /.pagination-container -->						    </div><!-- /.text-right -->

    </div><!-- /.filters-container -->

  </div><!-- /.search-result-container -->

</div><!-- /.col -->
</div><!-- /.row -->
<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->

</div><!-- /.body-content -->
