
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li class='active'>Volquetas</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class='row outer-bottom-sm'>

<div class='col-md-12'>
  <!-- ========================================== SECTION – HERO ========================================= -->



  <!-- ========================================= SECTION – HERO : END ========================================= -->

  <div class="search-result-container">
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane active " id="grid-container">
        <div class="category-product  inner-top-vs">
          <div class="row">
            <% if !@services.nil?  && @services.count>0%>
                <% @services.each do |servicio| %>


                    <div class="col-md-3 wow fadeInUp">
                      <div class="products"><div class="product">
                        <div class="product-image"><div class="image">
                          <a href="<%= servicio_path(servicio.id, servicio.link_rewrite) %>">

                            <%=   image_tag servicio.picture1(:home ) %>
                          </a>
                        </div></div><!-- /.product-image -->
                        <div class="product-info text-left">
                          <h3 class="name"><a href="#"><%= servicio.name %></a></h3>
                          <div class="description"><%= servicio.city.name %> | <%= servicio.state.name %></div>

                        </div><!-- /.product-info -->
                        <div class="cart clearfix animate-effect">
                          <div class="action">
                            <ul class="list-unstyled">
                              <li class="add-cart-button btn-group">
                                <a class="btn btn-primary"  href="<%= servicio_path(servicio.id, servicio.link_rewrite) %>">Ver más</a>
                              </li>
                            </ul>
                          </div><!-- /.action -->
                        </div></div></div>
                    </div><!-- /.item -->


                <% end %>
            <% else %>
                <p>
                  No se encuentran resultados con la busqueda
                </p>
            <% end %>









          </div><!-- /.row -->
        </div><!-- /.category-product -->

      </div><!-- /.tab-pane -->


    </div><!-- /.tab-content -->
    <div class="clearfix filters-container">
      <div class="text-right">
        <div class="pagination-container">
          <% if !@servicio.nil? %>
              <%= paginate @servicio %>
          <% end %>



          <ul class="list-inline list-unstyled">
            <li class="prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul><!-- /.list-inline -->
        </div><!-- /.pagination-container -->						    </div><!-- /.text-right -->

    </div><!-- /.filters-container -->

  </div><!-- /.search-result-container -->

</div><!-- /.col -->
</div><!-- /.row -->
<!-- ============================================== BRANDS CAROUSEL ============================================== -->

<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->

</div><!-- /.body-content -->
